# Server
PORT=3000
SERVER_URL=http://localhost:3000
NODE_ENV=development

# Database
MONGO_URI=mongodb://127.0.0.1:27017/blog

# JWT
JWT_SECRET=una_super_chiave_segreta_molto_lunga_e_random
JWT_EXPIRES_IN=1h

# Bcrypt / Argon2 (se usi bcrypt)
BCRYPT_SALT_ROUNDS=12

# CORS (se necessario)
CORS_ORIGIN=http://localhost:5173

# user e password per l'invio delle email
EMAIL_USERNAME=
EMAIL_PASSWORD=